Telegram Appointment Assistant.json
{
  "name": "Telegram Appointment Assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text ?? $('OpenAI').item.json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\n** Always use the \"Get Contacts\" tool for finding an email address for the \"Send Email\" and \"Book Event\" tool.\n\nToday's date is {{ $now.format('yyyy-MM-dd') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "f58dd469-7c7c-4053-8f8f-e5b5f6cff843",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        592
      ],
      "id": "e90484d8-73c0-4148-aae4-2c8319dea11b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "czXONfpfdbj9X0yP",
          "name": "OpenAi account 10"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.result.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        272
      ],
      "id": "2b6ffb22-21ec-417c-907f-9d62adac7066",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apprXGpYOhbdseTrx",
          "mode": "list",
          "cachedResultName": "Contacts List",
          "cachedResultUrl": "https://airtable.com/apprXGpYOhbdseTrx"
        },
        "table": {
          "__rl": true,
          "value": "tblr0LfJfsUx2ySwV",
          "mode": "list",
          "cachedResultName": "Contacts List",
          "cachedResultUrl": "https://airtable.com/apprXGpYOhbdseTrx/tblr0LfJfsUx2ySwV"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        192,
        272
      ],
      "id": "e1680b8a-f313-4865-8542-93cb1692bd6e",
      "name": "Get Contacts",
      "credentials": {
        "airtableTokenApi": {
          "id": "rHGBJAuFsh6tpMru",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        304,
        272
      ],
      "id": "3d12c9f9-81c3-4ba7-ad4e-98d6f6c6bcd5",
      "name": "Send Email",
      "webhookId": "15b218e4-b3c6-4d11-9850-b2140b68ea5c",
      "credentials": {
        "gmailOAuth2": {
          "id": "bGuY4L0Hz8hUDaub",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aryanb@ova.ngo",
          "mode": "list",
          "cachedResultName": "aryanb@ova.ngo"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        432,
        272
      ],
      "id": "b8d566f3-accd-405b-ab61-33ab68b95097",
      "name": "Book Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dor8u6pr6puUTEGe",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        0
      ],
      "id": "ee68059b-7053-41c8-880b-6dac497ca1da",
      "name": "Telegram Trigger",
      "webhookId": "19c3c72f-f588-4e15-9c44-58978d8cbff2",
      "credentials": {
        "telegramApi": {
          "id": "IAn75T1QwnBMz2yt",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "One moment please...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -624,
        0
      ],
      "id": "2d101502-500a-460d-9b15-db6fc57eb66e",
      "name": "Send a text message",
      "webhookId": "bd791c45-9e9c-4951-93b9-ce4a8249cece",
      "credentials": {
        "telegramApi": {
          "id": "IAn75T1QwnBMz2yt",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1f14d5d8-cec7-4fda-88b9-676b5df3f746"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df05a128-954f-4a8d-970d-9890351b1014",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        0
      ],
      "id": "4b55b044-54a6-4c43-8f06-bc32762136fb",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        0
      ],
      "id": "3b45b8c0-5989-4d9a-a0e8-61fd2717deaa",
      "name": "Send a text message1",
      "webhookId": "9abefdae-f6c2-4bb8-a9a2-e2b9c7871c95",
      "credentials": {
        "telegramApi": {
          "id": "IAn75T1QwnBMz2yt",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        592
      ],
      "id": "60777542-0d5c-447f-b036-48756779c047",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "czXONfpfdbj9X0yP",
          "name": "OpenAi account 10"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -624,
        256
      ],
      "id": "9ba2fa7e-ede9-4983-aca5-5b9cd29668bc",
      "name": "Telegram Voice Message",
      "webhookId": "b159e546-a8ee-435d-a0c1-3fb9bc987f49",
      "credentials": {
        "telegramApi": {
          "id": "IAn75T1QwnBMz2yt",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        272
      ],
      "id": "c439d401-2e97-4477-9b21-7c69ded0d749",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xeubgcqrfFIh3WpG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        256
      ],
      "id": "71f10dd0-0975-42a4-9227-066749c416a2",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "xeubgcqrfFIh3WpG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Book Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Voice Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        []
      ]
    },
    "Telegram Voice Message": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b246317-8043-4761-be01-2b166c076999",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a64e18360dd871e9e78bdb304f81616d375ccf553d8a83f662dca293b0723eb2"
  },
  "id": "1ql1EjRLnIuESROo",
  "tags": []
}